/* フッター */
footer{
    background-image:url("css-images/footer2.png");
    background-size: cover;
    padding: 20px;
    text-align: center;
  }
  
  #map iframe{
    margin-top: 50px;
    border-radius: 10%;
  }
  
  #aicon{
    width: 50px;
    height: 50px;
    border-radius:50%;
  }
  
  footer img{
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }
  
  footer ul{
    display: flex;
    justify-content: center;
  }
  
  .links-social{
    margin: 20px 40px 40px;
  }
  
  #map,
  .links-main-pages,
  .links-sub-pages{
    margin: 40px;
  }
  
  .links-social li{
    padding: 0 10px;
  }
  
  .links-main-pages li,
  .links-sub-pages li{
    padding: 0 30px;
    border-right: solid 1px #fff;
    font-size: 14px;
  }
  
  .links-main-pages li:last-child,
  .links-sub-pages li:last-child{
    border-right: 0;
  }
  
  .links-main-pages a,
  .links-sub-pages a{
    color: #fff;
    text-decoration: none;
  }
  
  small {
    color: #fff;
  }